/* Fonte -> Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/img/cadastro.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container-cadastro{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.container-cadastro h1{
    font-size: 36px;
    text-align: center;
}

.container-cadastro .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.container-cadastro .estilo-select{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.estilo-select select{
    width:100%;
    height: 100%;
    background:transparent;
    border:none;
    outline:none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    appearance: none; /* Remove o estilo padrão dos selects */
}

.estilo-select option{
    color:#333;
}

.input-box input::placeholder{
    color: #fff; 
}

/* Imagem dos ícones do user e senha */
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ece5e5;
}

.estilo-select i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ece5e5;
}

.container-cadastro .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

/* Se passar em cima do botão de login, muda um pouco a cor */
.container-cadastro .btn:hover{
    background: rgba(255,255,255,0.5);
    color: #fff;
    border-color: #fff;
}

.container-cadastro .link-login{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.link-login p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600; 
}

.link-login p a:hover{
    text-decoration: underline;
}